:root {
    --anymapper-primary-fg-color: white;
    --anymapper-primary-bg-color: #2a3ca5;
    --anymapper-surface-fg-color: black;
    --anymapper-surface-fg-color-light: #888;
    --anymapper-surface-bg-color: white;
    --anymapper-background-color: #CCC;
    --anymapper-float-box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.25);
    --anymapper-float-border-radius: 4px;
    --anymapper-mobile-bottom-sheet-height: 86px;
	--anymapper-omnibox-margin: 10px;
}